<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
    {% block styles %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логин</title>
    <style>:root {
        --text: #000000;
        --second: #d21390;
        --body-bg: #f7f8fc;
        --footer-bg: #167846;
        --footer-text: #bcdecd;
        --header-bg: #167846;
        --header-text: #bcdecd;
        --background: #ffffff;
        --text-header: #000000;
        --sublight: #27bd97;
    }</style>
</head>
<body>
<div class="header container">
    <div class="header-content">
        <div class="header-top">
            <a href="tel:+7 (918)-380-20-50" class="header-phone">+7 (918)-380-20-50</a>
        </div>
        <div class="header-bottom">
            <a href="/" class="header-logo">
                <img src="{% static 'shop/img/logo.jpg' %}" alt="Логотип"
                     style="height: inherit;">
            </a>
        </div>
    </div>
</div>
<div class="layout">
    {% block content %}
    {% endblock %}
</div>
<div class="footer container">
    <div class="footer-content">
        <div class="footer-info">
            <a href="/" class="footer-logo">
                <img src="{% static 'shop/img/logo.jpg' %}" alt="Логотип"
                     style="height: inherit;">
            </a>
            <span>ООО «Лесной Эльф».</span>
            <span>Все права защищены.</span>
        </div>
    </div>
</div>
</body>
</html>